In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [3]:
folder = Path('./DataViz-MatplotlibSeaborn/Data')
filename = 'housing_data.csv'

In [5]:
housing_raw = pd.read_csv(
    folder/filename, 
    parse_dates=['period_begin', 'period_end'],
    dtype={'total_homes_sold': 'Int32', 'region_name': 'category'})

In [7]:
housing_raw.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,<NA>,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12,54.0,55.0,151.2,158062.5,38.300000

In [8]:
housing_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 622339 entries, 0 to 622338
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   region_name               622339 non-null  category
 1   period_begin              622339 non-null  datetime64[ns]
 2   period_end                622339 non-null  datetime64[ns]
 3   total_homes_sold          567839 non-null  Int32
 4   inventory                 616247 non-null  float64
 5   active_listings           616905 non-null  float64
 6   age_of_inventory          616247 non-null  float64
 7   median_active_list_price  616513 non-null  float64
 8   months_of_supply          561319 non-null  float64
dtypes: Int32(1), category(1), datetime64[ns](2), float64(5)
memory usage: 37.5 MB

In [10]:
ca_housing = housing_raw.loc[
    (housing_raw['region_name'].str.contains('CA'))
].assign(region_name=housing_raw['region_name'].str[0:-11])

In [11]:
ca_housing.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 15228 entries, 6 to 622302
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   region_name               15228 non-null  object
 1   period_begin              15228 non-null  datetime64[ns]
 2   period_end                15228 non-null  datetime64[ns]
 3   total_homes_sold          14841 non-null  Int32
 4   inventory                 15217 non-null  float64
 5   active_listings           15218 non-null  float64
 6   age_of_inventory          15217 non-null  float64
 7   median_active_list_price  15208 non-null  float64
 8   months_of_supply          14829 non-null  float64
dtypes: Int32(1), datetime64[ns](2), float64(5), object(1)
memory usage: 1.9 MB